name: CI Workflow (python)

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python version to use'
        required: false
        type: string
        default: '3.11'
      working-directory:
        description: 'Working directory for commands'
        required: false
        type: string
        default: '.'
      run-lint:
        description: 'Run linting'
        required: false
        type: boolean
        default: true

defaults:
  run:
    shell: bash

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python Environment
        uses: zmihai/.github/actions/setup-python-env@e9db21be206a6cf85a90a3eadc0c664288aba42e
        with:
          python-version: ${{ inputs.python-version }}
          working-directory: ${{ inputs.working-directory }}
          install-dependencies: 'true'

      - name: Run linting with flake8
        if: ${{ inputs.run-lint }}
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
